@model AbarroteriaKary.ModelsPartial.ReporteHubFiltroVM
<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Pedido (CERRADO)</label>
        <input asp-for="PedidoId" class="form-control" placeholder="PED0000005..." />
        <small class="text-muted">Solo pedidos cerrados. Autocomplete luego.</small>
    </div>
</div>
