@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{




} 


<footer class="kary-footer">
    <div class="container kary-footer__inner">
        @* <div class="kary-footer__col">15:00</div> *@
        @* <div class="kary-footer__col">14/05/2025</div> *@
        @* <div class="kary-footer__col">JP12345</div> *@
        
    </div>
</footer>

