@* @model AbarroteriaKary.ModelsPartial.PermisoEditVM
    ViewData["Title"] = "Crear Permiso";
}
<div class="container-fluid">
    <h4 class="mb-3">Crear Permiso</h4>
    <form asp-action="Create" method="post">
        <partial name="_PermForm" model="Model" />
        <div class="mt-3 d-flex gap-2">
            <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Guardar</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>



 *@


@* @model AbarroteriaKary.ModelsPartial.PermisoEditVM
@{
    ViewData["Title"] = "Crear Permiso";
}
<div class="container-fluid">
    <h4 class="mb-3">Crear Permiso</h4>
    <form asp-action="Create" method="post">
        <partial name="_PermForm" model="Model" />
        <div class="mt-3 d-flex gap-2">
            <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Guardar</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>
 *@