@model AbarroteriaKary.Models.SUBCATEGORIA

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>SUBCATEGORIA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SUBCATEGORIA_ID" />
            <div class="form-group">
                <label asp-for="SUBCATEGORIA_NOMBRE" class="control-label"></label>
                <input asp-for="SUBCATEGORIA_NOMBRE" class="form-control" />
                <span asp-validation-for="SUBCATEGORIA_NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SUBCATEGORIA_DESCRIPCION" class="control-label"></label>
                <input asp-for="SUBCATEGORIA_DESCRIPCION" class="form-control" />
                <span asp-validation-for="SUBCATEGORIA_DESCRIPCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CATEGORIA_ID" class="control-label"></label>
                <select asp-for="CATEGORIA_ID" class="form-control" asp-items="ViewBag.CATEGORIA_ID"></select>
                <span asp-validation-for="CATEGORIA_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREADO_POR" class="control-label"></label>
                <input asp-for="CREADO_POR" class="form-control" />
                <span asp-validation-for="CREADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_CREACION" class="control-label"></label>
                <input asp-for="FECHA_CREACION" class="form-control" />
                <span asp-validation-for="FECHA_CREACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFICADO_POR" class="control-label"></label>
                <input asp-for="MODIFICADO_POR" class="form-control" />
                <span asp-validation-for="MODIFICADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_MODIFICACION" class="control-label"></label>
                <input asp-for="FECHA_MODIFICACION" class="form-control" />
                <span asp-validation-for="FECHA_MODIFICACION" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ELIMINADO" /> @Html.DisplayNameFor(model => model.ELIMINADO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ELIMINADO_POR" class="control-label"></label>
                <input asp-for="ELIMINADO_POR" class="form-control" />
                <span asp-validation-for="ELIMINADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_ELIMINACION" class="control-label"></label>
                <input asp-for="FECHA_ELIMINACION" class="form-control" />
                <span asp-validation-for="FECHA_ELIMINACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESTADO" class="control-label"></label>
                <input asp-for="ESTADO" class="form-control" />
                <span asp-validation-for="ESTADO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
